.menu-cont{
    height: 120px;
    width: 120px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    cursor: pointer;
}
.menu-cont .icon-cont{
    height: 50px;
    width: 50px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.menu-cont svg{
    color:white;
    font-size: 30px;
    transition: all 0.2s;
}
.menu-cont span{
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
.menu-cont:hover svg{
    transform: scale(1.2);
}