.login_container{
  min-height: 100vh;
  min-width: 100%;
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./assets/prison.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

}
.login_container .login_body{
  width: 30%;
  height: 60vh;
  background-color:#2C3639;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.login_body .login_logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.login_body span{
  text-align: center;
  color: #ffffff;
}
.login_body img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.login_body .login_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
